<div class="modal fade active" id="ModalAlertaId" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modalPopup">
        <div class="modal-content">
            <div class="header">
                <h5 style="font-weight:bold; color:#FFFFFF;">{{header}}</h5>
            </div>

            <div class="body" style="margin-top:10px;">
                {{body}}
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="cerrar()">Ok</button>
            </div>
        </div>
    </div>
</div>
