<div class="modal fade active" id="ModalConfirmacionId" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modalPopup">
        <div class="modal-content">
            <div class="header">
                <h5 style="font-weight:bold; color:#FFFFFF;">{{header}}</h5>
            </div>

            <div class="body" style="margin-top:10px;">
                {{body}}
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="confirmOk" ng-click="confirm()">Confirmar</button>
                <button type="button" data-dismiss="modal" class="btn btn-default" id="confirmCancel" ng-click="cancel()">Cancelar</button>
            </div>
        </div>
    </div>
</div>
