<div header-proyecto></div>
<div class="container">
    <h1 style="text-align:center">Historial de Crecimientos</h1>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal datosForm" name="datosHistorialChildrenForm">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-center">Listado de Niños</h3>
                                <div class="alert alert-info">{{children_message}}</div>
                                <div>
                                    <table ng-table="childrenTable" class="table table-condensed table-bordered table-striped table-hover" show-filter="false">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th class="hidden-sm hidden-xs" ng-click="sortType = 'fechaCreacion'; sortReverse = !sortReverse">Fecha</th>
                                                <th class="hidden-sm hidden-xs" ng-click="sortType = 'identificacion'; sortReverse = !sortReverse">Identificación</th>
                                                <th ng-click="sortType = 'nombres'; sortReverse = !sortReverse">Nombres</th>
                                                <th ng-click="sortType = 'apellidos'; sortReverse = !sortReverse">Apellidos</th>
                                                <th class="hidden-sm hidden-xs" ng-click="sortType = 'fechaNacimiento'; sortReverse = !sortReverse">Fecha de Nacimiento</th>
                                                <th ng-click="sortType = 'edad'; sortReverse = !sortReverse">Edad</th>
                                                <th class="hidden-sm hidden-xs" ng-click="sortType = 'sexo'; sortReverse = !sortReverse">Sexo</th>
                                                <th class="hidden-sm hidden-xs" ng-click="sortType = 'nacionalidad'; sortReverse = !sortReverse">Nacionalidad</th>
                                                <th ng-click="sortType = 'talla'; sortReverse = !sortReverse">Talla (cm)</th>
                                                <th ng-click="sortType = 'peso'; sortReverse = !sortReverse">Peso (kg)</th>
                                                <th ng-click="sortType = 'imc'; sortReverse = !sortReverse">IMC (cm)</th>
                                                <th class="hidden-sm hidden-xs" ng-click="sortType = 'detalleIMC'; sortReverse = !sortReverse">Detalle IMC</th>
                                                <th ng-click="sortType = 'pc'; sortReverse = !sortReverse">PC (cm)</th>
                                                <th ng-click="sortType = 'pmb'; sortReverse = !sortReverse">PMB (cm)</th>
                                                <th class="hidden-sm hidden-xs" ng-click="sortType = 'observaciones'; sortReverse = !sortReverse">Observaciones</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in $data | orderBy:sortType:sortReverse">
                                                <td>{{ $index + 1 }}</td>
                                                <td class="hidden-sm hidden-xs">{{item.fechaCreacion | date : "dd/MM/yyyy"}}</td>
                                                <td class="hidden-sm hidden-xs">{{item.identificacion}}</td>
                                                <td>{{item.nombres}}</td>
                                                <td>{{item.apellidos}}</td>
                                                <td class="hidden-sm hidden-xs">{{item.fechaNacimiento | date : "dd/MM/yyyy"}}</td>
                                                <td>{{item.edadAnios}} Años {{item.edadMeses}} Meses</td>
                                                <td class="hidden-sm hidden-xs">{{obtenerSexo(item.idSexo)}}</td>
                                                <td class="hidden-sm hidden-xs">{{obtenerNacionalidad(item.idNacionalidad)}}</td>
                                                <td>{{item.talla}}</td>
                                                <td>{{item.peso}}</td>
                                                <td>{{item.imc}}</td>
                                                <td class="hidden-sm hidden-xs">{{item.detalleIMC}}</td>
                                                <td>{{item.perimCefalico}}</td>
                                                <td>{{item.perimMedioBrazo}}</td>
                                                <td class="hidden-sm hidden-xs">{{item.observaciones}}</td>
                                                <td class="text-nowrap icon-wrap">
                                                    <a class="btn btn-primary btn-xs glyphicon glyphicon-th-list" ng-click="consultar(item.idChildren)"> Ver</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-center">Historial de Crecimiento del Niño</h3>
                                <h4 class="text-center">{{nombreCompleto}} - {{obtenerSexo(idSexo)}}</h4>
                                <div class="alert alert-info">{{history_message}}</div>
                                <div>
                                    <table ng-table="historyTable" class="table table-condensed table-bordered table-striped table-hover" show-filter="false">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th ng-click="sortType = 'fechaCreacion'; sortReverse = !sortReverse">Fecha</th>
                                                <th ng-click="sortType = 'edad'; sortReverse = !sortReverse">Edad</th>
                                                <th ng-click="sortType = 'talla'; sortReverse = !sortReverse">Talla (cm)</th>
                                                <th ng-click="sortType = 'peso'; sortReverse = !sortReverse">Peso (kg)</th>
                                                <th ng-click="sortType = 'imc'; sortReverse = !sortReverse">IMC (cm)</th>
                                                <th ng-click="sortType = 'detalleIMC'; sortReverse = !sortReverse">Detalle IMC</th>
                                                <th ng-click="sortType = 'pc'; sortReverse = !sortReverse">PC (cm)</th>
                                                <th ng-click="sortType = 'pmb'; sortReverse = !sortReverse">PMB (cm)</th>
                                                <th class="hidden-sm hidden-xs" ng-click="sortType = 'observaciones'; sortReverse = !sortReverse">Observaciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in $data | orderBy:sortType:sortReverse">
                                                <td>{{ $index + 1 }}</td>
                                                <td>{{item.fechaCreacion | date : "dd/MM/yyyy"}}</td>
                                                <td>{{item.edadAnios}} Años {{item.edadMeses}} Meses</td>
                                                <td>{{item.talla}}</td>
                                                <td>{{item.peso}}</td>
                                                <td>{{item.imc}}</td>
                                                <td>{{item.detalleIMC}}</td>
                                                <td>{{item.perimCefalico}}</td>
                                                <td>{{item.perimMedioBrazo}}</td>
                                                <td class="hidden-sm hidden-xs">{{item.observaciones}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="control-label col-md-4">Elija un Indicador:</label>
                                    <div class="col-md-8">
                                        <select class="form-control" name="indicador" ng-model="indicador" ng-change="cargarIndicador(indicador)"
                                                ng-options="option.idIndicador as option.descripcion for option in listIndicadores">
                                            <option value="" selected hidden />
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div chart-txe></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>