<div header-proyecto></div>
<div class="container-fluid">
    <h2 style="text-align:center">Menú Principal</h2>
    <br/>
    
    <div class="list-group" >
        <a class="list-group-item" ng-href="#!/representante">
            <h4><strong>Datos del Representante</strong></h4>
            <p><strong>Realiza el ingreso y modificación de los datos del representante</strong></p>
        </a>
        <a class="list-group-item" ng-href="#!/children">
            <h4><strong>Datos del/los Niño(s)</strong></h4>
            <p><strong>Permite el ingreso y la actualización de datos del o los niños a cargo del representante</strong></p>
        </a>
        <a class="list-group-item" ng-href="#!/historialChildren">
            <h4><strong>Historial de Crecimientos</strong></h4>
            <p><strong>Consulta los datos de los niños ingresados en el tiempo, para poder compararlos con las tablas de control de crecimiento de la OMS</strong></p>
        </a>
        <a ng-click="logOut()" class="list-group-item">
            <h4><strong>Cerrar Sesión</strong></h4>
            <p><strong>Cierra la sesión actual y regresa a la página de inicio de sesión</strong></p>
        </a>
    </div>

</div>